form {
  width: 40%;
  margin: 0 auto;
  margin-top: 60px;
  background: #f9f9f9;
}
input {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 10px;
}
